.air-page {
  &--buttons {
    .air-button {
      float: left;
      width: 25vw;
      line-height: 100vh;
    }

    .air-button {
      &--hold {
        background-color: #009688;
      }
      &--tap {
        background-color: #4caf50;
      }
      &--number {
        line-height: 33.33333vh;
        background-color: #cddc39;

        &:nth-child(1) {
          background-color: #a8b737;
        }

        &:nth-child(2) {
          background-color: #dae93a;
        }
      }
      &--hero {
        background-color: #2196f3;
      }
      &--back {
        background-color: #ff5722;
      }
    }

    .number-parent {
      width: 25vw;
      height: 100vh;
      float: left;
    }
  }
}