.air-page {
  &--menu {
    background-color: black;

    .air-button {
      
    }

    .air-profile-image {
      width: 50vh;
      height: 50vh;

      border-width: 5px;
      border-style: solid;
    }

    h1 {
      width: 100vw;
      padding-bottom: 20vh;
    }
  }
}