@import "~air-controller-vue/src/styles/air-controller";

@import "custom/style";
@import "pages/loading";
@import "pages/menu";
@import "pages/settings";
@import "pages/gameplay";
@import "pages/gameplay-viewing";
@import "pages/gameplay-result";

@font-face {
  font-family: myFirstFont;
  src: url('../fonts/3Dventure.ttf');
  //src: url('../fonts/Fipps-Regular.otf');
}

h1 {
  font-family: myFirstFont;
}
